In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv('play_tennis.csv')
data.head()
data.drop(columns=['day'],inplace=True)

In [4]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [30]:
# Problem:

# Outlook=Sunny, Temp=hot, Humidity=high, wind=weak
# Play or Not play?

In [31]:
# Solution

# P(Yes|Sunny,hot,high,weak) = P(Sunny|Yes)*P(hot|Yes)*P(high|Yes)*P(weak|Yes)
# P(No|Sunny,hot,high,weak) = P(Sunny|No)*P(hot|No)*P(high|No)*P(weak|No)

# Comapare and decide using the maximum a posteriori rule

In [7]:
# Machine Learning algorithm works on 2 Stages

# Train :   In Training Stage Naive Bayes creates a Lookup table which it stores it in a Dictionary (In Dictionary it stores all the possibility of the probabilities and according to the new data it will assume the answer according to the previous data which it has stored it)

# Testing

In [8]:
# Creating a Lookup table

In [10]:
#P(Yes)
#P(No)

In [11]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [12]:
py=9/14
pn=5/14

In [14]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [15]:
# Taking out the respective probabilities of 1st column 

# outlook

pd.crosstab(data['outlook'], data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [17]:
# Creating Probability

pOvercastNo=0
pRainNo=2/5
pSunnyNo=3/5

pOvercastYes=4/9
pRainYes=3/9
pSunnyYes=2/9

In [18]:
# 2nd column

# temp

pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [19]:
# Creating Probability

pCoolNo=1/5
pHotNo=2/5
pMildNo=2/5

pCoolYes=3/9
pHotYes=2/9
pMildYes=4/9

In [20]:
# 3rd column

# humidity

pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [21]:
pHighNo=4/5
pNormalNo=1/5

pHighYes=3/9
pNormalYes=6/9

In [22]:
# 4th column

# wind

pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [23]:
pStrongNo=3/5
pWeakNo=2/5

pStrongYes=3/9
pWeakYes=6/9

In [25]:
# Outlook=Sunny, Temp=hot, Humidity=high, wind=weak

Pyes=py*pSunnyYes*pHotYes*pHighYes*pWeakYes
print(Pyes)

0.007054673721340388

In [27]:
Pno=pn*pSunnyNo*pHotNo*pHighNo*pWeakNo
print(Pno)

0.02742857142857143

In [32]:
# Hence there will be no play as the probability of Pno > Pyes

Pyes<Pno

True